.layoutContainer {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin-top: 65px;
    min-height: 90vh;
}

.MuiPaper-root {
    display: flex;
    justify-content: center;
}

.MuiPaper-root.MuiCard-root {
    display: flex;
    flex-direction: column;
}

.MuiPaper-root.MuiDrawer-paper {
    width: 170px;
    height: 81vh;
    bottom: 0;
    top: auto;
}
